html {
  font-size: 62.5%;
}
.top-q {
  margin: 0 15% 5%;
  padding: 4%;
  border-bottom: 1px solid #ffafaf;
}
@media (min-width: 800px) {
  .top-q {
    margin: 0 15% 4%;
    padding: 1% 5% 3%;
  }
}
.top-q h1 {
  font-size: 1.7rem;
  color: #ffcc00;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.advisors {
  display: flex;
  flex-direction: column;
}
.advisors img {
  height: 20%;
  width: 100%;
}
.advisors h2 {
  color: white;
  font-size: 150%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.top {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  background: #0a235C;
  height: 300px;
}
.top .top-words {
  background: #f5f5f5;
  padding: 20px 8%;
  margin: 5%;
}
@media (min-width: 800px) {
  .top .top-words {
    padding: 31px 6%;
    margin: 4% 6%;
    height: 90px;
  }
}
.middle {
  max-width: 90%;
  width: 100%;
  margin: 64px auto;
  background: #0a235C;
  height: 300px;
}
@media (min-width: 800px) {
  .middle {
    height: 550px;
  }
}
.middle .carasoul {
  display: flex;
}
.middle .carasoul .slick-prev {
  margin: 0 0 3%;
  background: #0a235C;
  padding: 15px;
  color: #ffafaf;
  border: none;
}
.middle .carasoul .slick-next {
  margin: 0 0 3%;
  padding: 33px;
  background: #0a235C;
  color: #ffafaf;
  border: none;
}
.other {
  height: 420px;
}
@media (max-width: 500px) {
  .other {
    height: 600px;
  }
}
.other h1 {
  font-size: 2rem;
  padding: 5%;
  border-bottom: 1px solid #ffafaf;
  margin: 0 20% 0;
}
.other .article {
  padding: 3%;
  display: flex;
  justify-content: space-around;
}
.other .article .quote {
  width: 35%;
}
.other .article .quote p {
  color: #ffcc00;
  font-size: 220%;
}
.other .article .story {
  width: 55%;
}
.other .article .story h2 {
  color: #f5f5f5;
  font-size: 200%;
}
.other .article .story p {
  color: white;
}
p {
  font-size: 1.3rem;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 5% 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  background: #f5f5f5;
  border-bottom: 1px solid #dadada;
}
nav a {
  text-decoration: none;
  color: #ffafaf;
}
nav .button {
  background: #ffcc00;
  border-radius: 10%;
  padding: 15px 4% 30px;
  width: 18%;
  height: 0;
}
nav .button a {
  color: #0a235C;
}
@media (min-width: 800px) {
  nav .button {
    padding: 13px 0% 30px;
    width: 13%;
    text-align: center;
  }
}
.us {
  max-width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}
@media (max-width: 500px) {
  .us {
    flex-direction: column;
    justify-content: center;
  }
}
.us .dev {
  margin: 2% 0;
  max-width: 31%;
  width: 100%;
  height: 600px;
  border: 2px dashed yellow;
  background: #ffafaf;
}
.us .dev h2 {
  color: #0a235C;
  padding: 10% 10% 13px;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  margin: 0px 12% 17px;
}
.us .dev img {
  width: 85%;
  height: 50%;
  border-radius: 60%;
  border: 2px solid #ffcc00;
  margin: 0 0 0 6%;
}
@media (min-width: 501px) {
  .us .dev img {
    height: 33%;
  }
}
.us .dev p {
  padding: 5%;
}
@media (max-width: 500px) {
  .us .dev {
    max-width: 100%;
    width: 90%;
    margin: 9% auto 0;
    height: 600px;
  }
}
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 250%;
  color: #ffcc00;
  text-align: center;
  margin: 30px 0 0;
}
