nav{
    display: flex;
    justify-content: space-around;
    padding: 5% 0 0; 
    font-family: @font;
    font-size: 1.1rem;
    background: @grey;
    border-bottom: 1px solid #dadada;
    a{
        text-decoration: none;
        color: @pink;
    }
    .button{
        background: @yellow;
        border-radius: 10%;
        padding: 15px 4% 30px;
        width: 18%;
        height: 0;
        a{
            color: @blue;
        }
        @media @tablet {
            padding: 13px 0% 30px;
            width: 13%;
            text-align: center;
        }
    }
}